<div class="logo_container">
    <div class="logo">
        <a href="#">
            <img src="{{ asset('images/services_1.png')  }}">
            <span style="color: black">  Храм Почаевской Иконы Божьей Матери</span>
        </a>
    </div>
</div>
