<div class="logo_container">
    <div class="logo">
        <a href="#">
            <img src="{{ asset('images/services_1.png')  }}">
            <span style="color: black">Епархиальный отдел по вопросом<br>
             охраны здоровья и пастырской опеки "ОХМАТДЕТ"
            </span>
        </a>
    </div>
</div>
