            <div class="top_bar" style="background-color: #23272b">
                <div class="container">
                    <div class="row">
                        <div class="col top_bar_content d-flex flex-row align-items-center justify-content-center">
{#                            <h3 style="color: orangered">#}
{#                                Храм Почаевской Иконы Божьей Матери при больнице "ОХМАТДЕТ"#}
{#                            </h3>#}
                            <div class="event_timer">
                                <span>Next Big Event:</span>
                                <ul class="timer">
                                    <li class="d-inline-flex">
                                        <div id="day" class="timer_num">03</div>
                                        <div class="timer_unit">Days</div>
                                    </li>
                                    <li class="d-inline-flex">
                                        <div id="hour" class="timer_num">15</div>
                                        <div class="timer_unit">Hours</div>
                                    </li>
                                    <li class="d-inline-flex">
                                        <div id="minute" class="timer_num">45</div>
                                        <div class="timer_unit">Minutes</div>
                                    </li>
                                    <li class="d-inline-flex">
                                        <div id="second" class="timer_num">23</div>
                                        <div class="timer_unit">Seconds</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="donations_button ml-auto">
                                <a href="#">Send Donations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
